<div ng-controller="allRestaurantsController">
<h2>All restaurants</h2>
    <a class="list-group-item clearfix" ng-repeat="restaurant in restaurants">
        <div class="pull-left">
          <h4 class="list-group-item-heading">Restaurant name: <b>{{restaurant.name}}</b> <span ng-if="restaurant.deleted" style="color: red">DELETED</span></h4>
          <p class="list-group-item-text">Address: <b>{{restaurant.address}}</b></p>
          <p class="list-group-item-text">Category: <b>{{restaurant.category}}</b></p>

        </div>
        <div class="pull-right">
          <button class="btn btn-primary" ng-click="go(restaurant.id)">Update</button>
          <button class="btn btn-danger" ng-if="!restaurant.deleted" ng-click="delete(restaurant.id)">Delete</button>
        </div>
      </a>
</div>