<div class="container" ng-controller="delievererPanelController">
    <div class="row">
        <col-lg-6>
            <h3>All orders</h3>
            <div ng-repeat="order in allOrders">
                <div ng-if="!order.deleted">
                    <a class="list-group-item clearfix" ng-if="order.status == 'ORDERED'">
                        <div class="pull-left">
                            <h4 class="list-group-item-heading">Order </h4>
                            <p class="list-group-item-text">Date ordered:
                                <b>{{order.dateOrdered | date}}</b>
                            </p>
                            <p class="list-group-item-text">Status:
                                <b>{{order.status}}</b>
                            </p>
                            <p class="list-group-item-text">Note:
                                <b>{{order.note}}</b>
                            </p>

                            <h5>Order items</h5>
                            <div ng-repeat="let orderItem of order.orderItems">
                                <p>[{{$index + 1}}] {{orderItem.itemName}} (x{{orderItem.quantity}})</p>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default">Take</button>
                        </div>
                    </a>
                </div>

            </div>

        </col-lg-6>
        <col-lg-6>
            <div ng-repeat="order in myDelieverings">
                <a class="list-group-item clearfix" ng-if="order.status == 'DELIEVERING'">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">Order
                        </h4>
                        <p class="list-group-item-text">Date ordered:
                            <b>{{order.dateOrdered | date}}</b>
                        </p>
                        <p class="list-group-item-text">Status:
                            <b>{{order.status}}</b>
                        </p>
                        <p class="list-group-item-text">Note:
                            <b>{{order.note}}</b>
                        </p>

                        <h5>Order items</h5>
                        <div ng-repeat="let orderItem of order.orderItems">
                            <p>[{{$index + 1}}] {{orderItem.itemName}} (x{{orderItem.quantity}})</p>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-default">Delievered</button>
                    </div>
                </a>
            </div>

        </col-lg-6>
    </div>
</div>